%h1 About
:markdown

  Indexical was founded with the primary purpose of producing the album *Index
  0*. In March 2012, five of us sat down and talked about what it would take to
  produce a record. As the project evolved and the cast changed from that
  initial meeting&mdash;we're so glad to have met and worked with Jack
  Callahan, Elizabeth Adams, and Stephanie Huguenin&mdash;we set a recording
  date, created a video for our Kickstarter project, and then were blown away
  by the generosity of our friends and family.
  
  The name of the organization (and its initial release) comes from our belief
  that music is inseparable from its context. The project exists without
  scaffolding from any major new music institution, and features composers
  whose music is mostly unknown. It is also inseparable from the funding model
  that makes it possible: pooling resources of capital, time, and fundraising
  capabilities toward a common goal. But this would not have been possible
  without the generous support of many friends, family, and even strangers.
    
%p Indexical is owned and operated by <a href="#" id="contactAddr-b" onmouseover="setAddr('b')" onfocus="setAddr('b')">Beau Sievers</a> and <a href="#" id="contactAddr-a" onmouseover="setAddr('a')" onfocus="setAddr('a')">Andrew C. Smith</a>.