%h1 About
:markdown

  We are a small group of composers based in Santa Cruz, CA, and Hanover, NH.
  We produce albums and concerts.

  We believe music is inseparable from its context. We give composers and their
  works the time and space they need. We operate without support from any major
  new music institution. We work together, pooling resources and effort toward
  common goals.

  Our projects so far include the [Transient Series](/events) and [*Index 0*](/releases).
    
%p Indexical is organized by David Kant, <a href="#" id="contactAddr-b" onmouseover="setAddr('b')" onfocus="setAddr('b')">Beau Sievers</a> and <a href="#" id="contactAddr-a" onmouseover="setAddr('a')" onfocus="setAddr('a')">Andrew C. Smith</a>.
