%h1 Transient Series, Vol. II

- if @future_events.empty?
  %p No future events. Check back soon.
  
- else 
  - @future_events.each do |slug, event|
    - event_link = "event/" + slug
    %article{:id => slug}
      %a{:href => event_link}
        %h2= event[:meta]["title"]
      %div.event-time
        %time{:datetime => event[:meta]['time']}= event[:meta]["time"].strftime("%A %b. %-d, %Y, %-I %P")
        at
        = event[:meta]["venue"]
      - if event[:meta].has_key? "image url"
        %img.event-header{:src => event[:meta]["image url"]}
      :markdown
        #{event[:body].split("\n\n")[0]}
      %p
        %a.read-more{:href => event_link} 
          read more.
          %i.icon-forward

%section
  %p
    %a{:href => "/events/past", :title => "Past Events"}View past events
        
%section
  %h2 Submissions
  :markdown
  
    Transient Series is always interested in hearing about and possibly
    presenting new work. E-mail andrew at indexical dot org to discuss.