%h1 Transient Series
%section
  :markdown
  
    The Transient Series began in Brooklyn in November 2011, at Willow Place
    Auditorium. We've also held events as a part of the Incubator Arts
    Project's music series, Littlefield, and the Church of the Annunciation.
    Like the releases, the Transient Series focuses on composers and performers
    who operate outside of major institutions of contemporary music. For
    updates about the series, [join our mailing list](http://eepurl.com/tCefr).

- if @future_events.empty?
  %p No future events. Check back soon.
- else 
  - @future_events.each do |slug, event|
    = partial :event, :locals => {:event => event, :archive => true}

%section
  :markdown
  
    ***
    
    ##Past Events
    
    Check out the [past Transient Series events](/events/past), from November 2011.

    ***
    
    ##Submissions
  
    Transient Series is always interested in hearing about and possibly presenting new work. E-mail [&#097;&#110;&#100;&#114;&#101;&#119;&#064;&#105;&#110;&#100;&#101;&#120;&#105;&#099;&#097;&#108;&#046;&#111;&#114;&#103;](mailto:andrew@indexical.org)