%h1 Transient Festival
%section
  :markdown
    Indexical celebrates the launch of its first record *Index 0* with the Transient Festival: a three-day concert series at venues throughout Brooklyn culminating in a record release party featuring the violin duo **String&nbsp;Noise** (Conrad Harris & Pauline Kim Harris) at [Littlefield on June 30](/event/2013-06-30-record-release). The duo were featured performers on this first Indexical release, a double-LP including pieces written for them over the previous two years.

- if @future_events.empty?
  %p No future events. Check back soon.
- else 
  - @future_events.each do |slug, event|
    = partial :event, :locals => {:event => event, :archive => true}

%section
  :markdown
  
    ***
    
    ##Past Events
    
    Check out the [past Transient Series events](/events/past), from November 2011.

    ***
    
    ##Submissions
  
    Transient Series is always interested in hearing about and possibly presenting new work. E-mail [&#097;&#110;&#100;&#114;&#101;&#119;&#064;&#105;&#110;&#100;&#101;&#120;&#105;&#099;&#097;&#108;&#046;&#111;&#114;&#103;](mailto:andrew@indexical.org)