%h1 Transient Series
%section
  :markdown
  
    The Transient Series focuses on composers and performers who operate outside
    of major institutions of contemporary music. We've been putting on concerts
    since 2011. Check out [Past Events](/events/past) for the history.

- if @future_events.empty?
  %p No future events&mdash;but here are some of the things we've done in the past:
  - @past_events.each do |slug, event|
    = partial :event, :locals => {:event => event, :archive => true}
- else 
  - @future_events.each do |slug, event|
    = partial :event, :locals => {:event => event, :archive => true}

