.lead 
  :markdown
  
    #Indexical
        
    is a composer-run organization dedicated to experimental
    music. Indexical produces [record releases](/releases), a [concert
    series](/events), and publications. Indexical is dedicated to supporting
    music by composers who work outside of mainstream contemporary music
    institutions.
