.lead 
  :markdown
  
    **Indexical** is a composer-run organization dedicated to experimental
    music. Indexical produces [record releases](/releases), [concert
    series](/events), and publications. Indexical is dedicated to supporting
    music by composers who work outside of mainstream contemporary music
    institutions.
    
    Our first release is [*Index 0*](/releases), a double-LP of new compositions by
    Elizabeth Adams, Jack Callahan, Stephanie Huguenin, Beau Sievers, Andrew C.
    Smith, and K C M Walker, performed by String Noise (Conrad Harris & Pauline
    Kim Harris) with Dov Scheindlin (viola), and Brian Snow (cello). The
    composers involved have pooled resources, energy, and music in order to
    record this album with some of the best performers we know in New York.
    
    For questions, contact andrew at indexical dot org.