.lead 
  :markdown
  
    #Indexical
        
    is a composer-run organization dedicated to experimental
    music. Indexical produces [record releases](/releases), a [concert
    series](/events), and publications. We are dedicated to supporting
    music by composers who work outside of mainstream contemporary music
    institutions.
    
    We are a small group of composers based in Santa Cruz, CA, and Hanover, NH.
    We produce albums and concerts.

    We believe music is inseparable from its context. We give composers and their
    works the time and space they need. We operate without support from any major
    new music institution. We work together, pooling resources and effort toward
    common goals.

    Our projects so far include the [Transient Series](/events) and [*Index 0*](/releases).
      
  %p Indexical is organized by <a href="#" id="contactAddr-d" onmouseover="setAddr('d')" onfocus="setAddr('d')">David Kant</a>, <a href="#" id="contactAddr-b" onmouseover="setAddr('b')" onfocus="setAddr('b')">Beau Sievers</a> and <a href="#" id="contactAddr-a" onmouseover="setAddr('a')" onfocus="setAddr('a')">Andrew C. Smith</a>.
