:markdown

  #Releases: Index 0
  
  Our **Kickstarter** campaign to raise the remaining funds for our project
  Index 0 has succeeded! Thanks to our supporters, we raised nearly $5,000 over
  the course of 30 days, to produce a double-LP with the music of Elizabeth
  Adams, Jack Callahan, Beau Sievers, Andrew C. Smith, and K C M Walker. We've
  recorded and mixed the album, so funds will go directly toward mastering and
  manufacturing. We hope to have it in your hands by June 2013.

  Index 0 is a 2-LP release with music by Elizabeth Adams, Jack Callahan, Beau
  Sievers, Andrew C. Smith, and K C M Walker. Performers are String Noise
  (Conrad Harris & Pauline Kim Harris, violins), Dov Scheindlin (viola), Brian
  Snow (cello), and Andrew C. Smith (piano).

  The record is recorded and mixed, and we have raised the final funds
  necessary to produce the record. Thank you!
