%h1 Releases: Index 0
  
.gallery
  %img.pull-left{:src => '/img/session-1.jpg'}
  %img.pull-left{:src => '/img/index-0.jpg'}
  %img.pull-left{:src => '/img/session-2.jpg'}
  
:markdown
  
  Our
  [Kickstarter](http://kickstarter.com/projects/1108228312/index-0-a-double-lp-of-new-experimental-music/) campaign to raise the remaining funds for our project
  *Index 0* has succeeded! Thanks to our supporters, we raised nearly $5,000
  over the course of 30 days, to produce a double-LP with the music of
  Elizabeth Adams, Jack Callahan, Stephanie Huguenin, Beau Sievers, Andrew C.
  Smith, and K C M Walker. We've recorded and mixed the album, so funds will go
  directly toward mastering and manufacturing. We hope to have it in your hands
  by June 2013.

  Performers are String Noise (Conrad Harris & Pauline Kim Harris, violins),
  Dov Scheindlin (viola), Brian Snow (cello), and Andrew C. Smith (piano).

  Please join us & String Noise for a [record release party at Littlefield](/event/2013-06-30-record-release) on
  June 30.
