%h1 Releases
%section
  :markdown
  
    Indexical grew out of our desire to have a platform for collaborating and
    cooperating on recording projects, particularly those that require greater
    resources than one of us could provide alone.

- @releases.each do |slug, release|
  = partial :release, :locals => {:release => release, :archive => true}
