body {
  background: #f5f4f0;
}
#main {
  max-width: 860px;
  margin: 0 auto;
  padding: 0;
}
::selection {
  background: rgb(105, 105, 105);
}
hr {
    border: 0;
    height: 2px;
    background: #666;
    margin: 1em auto;
}
.gallery {
  clear: both;
  display: block;
}
.gallery img {
  padding-bottom: 20px;
}
.gallery img.pull-left {
  padding-right: 20px;
}
.gallery img.pull-left:last-child {
  padding-right: 0;
}

/* Typeography */
body { font-family: "proxima-nova", "Helvetica Neue", sans-serif; font-size: 20px;}
p { font-family: "proxima-nova", "Helvetica Neue", sans-serif; font-size: 0.9em; line-height: 1.5em; font-weight: 400;}
h1, h2, h3, h4, h5 {font-family: "proxima-nova", "Helvetica Neue", sans-serif; font-weight: 600;}
h1 {font-size: 3.5em; line-height: 1em; margin-bottom: 0.25em;}

/* General Link Styles and Colors */
a {
  color: #3A53A8;
}
a:hover {
  color: #3A53A8;
  text-decoration: underline;
}
a:visited {
  color: #3A53A8;
}
a:visited:hover {
  color: #3A53A8;
}

/* Navbar Styles */
.navbar {
  margin: 0;
  padding: 0;
}
.navbar .navbar-inner {
  background: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
/*  border-left: 2px solid #000;*/
}
.navbar .nav > li > a {
  padding: 4px 1.25em 0;
  text-shadow: none;
  color: #333;
}
.navbar .nav > li > a:hover {
  color: #3A53A8;
}
.navbar .nav > li > a.active {
  color: #3A53A8;
  font-weight: bold;
}
.navbar .nav > li > a:first-child {
  padding-left: 0;
}


/* Mailchimp Signup */
#mc_embed_signup{
  background:none; 
  font:14px "proxima-nova", "Helvetica Neue", sans-serif; 
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#mce-EMAIL {
  background-color: #fff;
  border: 1px solid #f5f4f0;
  font:14px "proxima-nova", "Helvetica Neue", sans-serif; 
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#mc-embedded-subscribe {
  background-color: #fff;
  border: none;
  font:14px "proxima-nova", "Helvetica Neue", sans-serif; 
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* Home page style */
.lead p {
  font-size: 1em;
  line-height: 1.5;
  margin-bottom: 1em;
}

/* Events page styles */
.event-meta {
  margin: 0 0 0.75em;
  clear: both;
  display: block;
  font-size: 0.9em;
  color: #666;
}
article {
  margin-top: 1em;
  clear: both;
}
section {
  clear: both;
}
.event-header {
  float: left;
  margin: 5px 1em 1em 0;
  max-width: 320px;
  height: auto;
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  body {
/*    background: none;*/
  }
  h1 {
    font-size: 1.75em;
  }
  h2 {
    font-size: 1.5em;
  }
  .lead {
    font-size: 1em;
    line-height: 1.25;
  }
  .navbar {
    margin-top: -2em;
    background: none;
  }
  .navbar .nav {
    clear: both;
    float: none;
  }
  .navbar .nav > li {
    clear: both;
    float: none;
  }
  img.event-header {
    width: 280px;
    height: auto;
  }
  .gallery {
    max-width: 320px;
  }
  .gallery img {
    max-width: 80px;
    padding-right: 10px;
  }
  #mc_embed_signup{
  }
  #mce-EMAIL {
    margin-top: 1em;
    width: 270px;
  }
  #mc-embedded-subscribe {
    float: right;
  }
}